[defaults]

# Path to the Python 3 interpreter, which is used for all module execution.
interpreter_python = /usr/bin/python3

# Use an inventory file specific to this repo.
inventory = inventory.yml

log_path = ansible.log

# Log how long each Ansible task takes to run.
# Reference: http://stackoverflow.com/a/29132716/1851299
callback_whitelist = profile_tasks, profile_roles
