---
- name: Initial system upgrades
  block:
    - name: Update the apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
        force_apt_get: true
      tags: ['update']

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: "{{ ansible_prep_upgrade_type }}"
        force_apt_get: true
      tags: ['upgrade']
  rescue:
    - name: Debugging error during initial system upgrade
      ansible.builtin.debug:
        msg: "An error occurred during the initial system upgrade."

- name: Install Ansible dependencies
  block:
    - name: Ensure python3 is installed
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - libc-bin
      tags: ['libc']

    - name: Ensure ACL is installed
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - acl
      tags: ['acl']
  rescue:
    - name: Debugging error while install Ansible dependencies
      ansible.builtin.debug:
        msg: "An error occurred while installing Ansible dependencies."
